@import '../../global.scss';

    .feed {
        flex: 6;
        padding: 0px 10px;

        @include large {
            padding: 0px 0px;
        }

        .share {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
            border-radius: 10px;
            padding: 30px 20px;
            background-color: #FFFFFF;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

            @include large {
                padding: 20px 10px;
            }

            .shareTop {
                gap: 20px;
                display: flex;
                align-items: center;

                .shareProfilePic {
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                .shareInput {
                    width: 440px;
                    border: none;
                    padding: 15px 20px;
                    background-color: #ebecf0;
                    border-radius: 30px;

                    &:focus {
                        outline: none,
                    }

                    @include mobile {
                        width: 340px;
                    }

                    @include phone {
                        width: 270px;
                    }

                }
                .shareInput::placeholder {
                    
                    @include phone {
                        font-size: 15px;
                    }
                }
            }

            .shareHr {
                margin: 20px 0px;
                border-top: 0.5px solid lightgray;
            }

            .shareImgContainer {
                padding: 0px 20px 10px 20px;
                position: relative;

                .shareImg {
                    width: 100%;
                    object-fit: cover;
                }

                .cancelIcon {
                    top: 10px;
                    right: 30px;
                    width: 30px;
                    height: 30px;
                    opacity: 0.7;
                    cursor: pointer;
                    position: absolute;
                }
            }

            form {
                display: flex;
                align-items: center;
                justify-content: center;

                .shareOptions {
                    gap: 15px;
                    display: flex;

                    @include phone {
                        gap: 5px;
                        justify-content: left;
                        text-align: left;
                    }

                    .shareOption {
                        gap: 3px;
                        display: flex;
                        color: gray;
                        align-items: center;
                        margin-right: 25px;
                        cursor: pointer;

                        @include phone {
                            margin-right: 10px;
                        }

                        .shareIcon {
                            font-size: 25px;
                        }

                        .optionText {
                            font-size: 16px;
                            font-weight: 400;

                            @include mobile {
                                font-size: 12px;
                            }
                        }

                    }

                    .shareOption2 {
                        gap: 3px;
                        display: flex;
                        color: gray;
                        align-items: center;
                        margin-right: 25px;
                        cursor: pointer;

                        @include phone {
                            display: none;
                        }

                        .shareIcon {
                            font-size: 25px;
                        }

                        .optionText {
                            font-size: 16px;
                            font-weight: 400;

                            @include mobile {
                                font-size: 12px;
                            }
                        }

                    }
                }

                .shareBtn {
                    width: 70px;
                    border: none;
                    color: white;
                    padding: 5px;
                    border-radius: 5px;
                    cursor: pointer;
                    background-color: #1877f2;

                }
            }

        }
    }

    











// @import '../../global.scss';

// .feed{
//       flex: 6;
//       padding: 0px 10px;
//       @include large {
//             padding: 0px 0px;    
//       }

//       .share {
//             display: flex;
//             flex-direction: column;
//             margin-bottom: 20px;
//             border-radius: 10px;
//             padding: 30px 20px;
//             background-color: #FFFFFF;
//             box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
//             @include large {
//                   padding: 20px 10px;    
//             }

//             .shareTop{
//                   gap: 20px;
//                   display: flex;
//                   align-items: center;
                  
//                   .shareProfilePic{
//                         width: 35px;
//                         height: 35px;
//                         border-radius: 50%;
//                         object-fit: cover;
//                   }
//                   .shareInput{
//                         width: 440px;
//                         border: none;
//                         padding: 15px 20px;
//                         background-color: #ebecf0;
//                         border-radius: 30px;
//                         &:focus {
//                               outline: none,
//                         }

//                         @include mobile{
//                               width: 340px;
//                         }
//                         @include phone{
//                               width: 200px;
//                         }

//                   }
//             }

//             .share
//                   margin: 20px 0px;
//                   border-top: 0.5px solid lightgray;
//             }

//             .shareImgContainer{
//                   padding: 0px 20px 10px 20px;
//                   position: relative;

//                   .shareImg{
//                         width: 100%;
//                         object-fit: cover;
//                   }
//                   .cancelIcon{
//                         top: 10px;
//                         right: 30px;
//                         width: 30px;
//                         height: 30px;
//                         opacity: 0.7;
//                         cursor: pointer;
//                         position: absolute;
//                   }
//             }

//             form{
//                   display: flex;
//                   align-items: center;
//                   justify-content: center;

//                   .shareOptions{
//                         gap: 15px;
//                         display: flex;
//                         @include phone{
//                               gap: 5px;
//                              justify-content: left;
//                               text-align: left;
//                         }

//                         .shareOption{
//                               gap: 3px;
//                               display: flex;
//                               color: gray;
//                               align-items: center;
//                               margin-right: 25px;
//                               cursor: pointer;
//                               @include phone{
//                                     margin-right: 10px;
//                               }

//                               .shareIcon{
//                                     font-size: 25px;
//                               }
//                               .optionText{
//                                     font-size: 16px;
//                                     font-weight: 400;
//                                     @include mobile{
//                                           font-size: 12px;
//                                     }
//                               }

//                         }

//                         .shareOption2{
//                               gap: 3px;
//                               display: flex;
//                               color: gray;
//                               align-items: center;
//                               margin-right: 25px;
//                               cursor: pointer;
//                               @include phone{
//                                     display: none;
//                               }

//                               .shareIcon{
//                                     font-size: 25px;
//                               }
//                               .optionText{
//                                     font-size: 16px;
//                                     font-weight: 400;
//                                     @include mobile{
//                                           font-size: 12px;
//                                     }
//                               }

//                         }
//                   }

//                   .shareBtn{
//                         width: 70px;
//                         border: none;
//                         color: white;
//                         padding: 5px;
//                         border-radius: 5px;
//                         cursor: pointer;
//                         background-color: #1877f2;

//                   }


//             }
            
            
        
        
        
//       }
// }