@import "../../global.scss";

.profileWrapper {
    display: flex;
    margin-bottom: 20px;

    .profile {
        // padding: 0px 35px;
        padding: 0px 35px 20px 35px;
        background-color: #f0f2f5;

        @include mobile {
            padding: 0px 10px;
        }

        @include phone {
            padding: 0px 10px;
        }

        .profileTop {
            width: 100%;
            position: relative;

            .coverImg {
                width: 100%;
                height: 300px;
                object-fit: cover;
                position: relative;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;

                @include tablet {
                    height: 250px;
                }

                @include phone {
                    height: 200px;
                }

            }

            .coverBtn {
                top: 250px;
                right: 15px;
                border: none;
                padding: 8px 18px;
                border-radius: 3px;
                cursor: pointer;
                gap: 5px;
                display: flex;
                position: absolute;
                align-items: center;
                justify-content: center;
                border: 0.5px solid #363636;
                background-color: #FBFDFC;

                @include large {
                    top: 230px;
                }

                @include tablet {
                    top: 190px;
                }

                @include mobile {
                    top: 20px;
                    right: 20px;
                    padding: 8px 10px;
                }

                @include phone {
                    display: none;
                }

            }

            .mobileCoverBtn {
                display: none;

                .cameraIcon {
                    width: 25px;
                    height: 30px;
                }

                @include phone {
                    display: flex;
                    top: 150px;
                    right: 20px;
                    cursor: pointer;
                    border-radius: 50%;
                    position: absolute;
                    align-items: center;
                    justify-content: center;
                    border: 0.5px solid #FFFFFF;
                }


            }

            .profileWrapper {
                padding: 50px 65px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-bottom: 20px;
                border-bottom: 0.4px solid lightgrey;

                @include large {
                    margin-bottom: 15px;
                    padding: 40px 65px;
                }

                @include tablet {
                    padding: 10px 65px;
                }

                @include mobile {
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    height: 23vh;
                    margin-top: -100px;
                    padding: 50px 65px;
                }

                @include phone {
                    padding: 20px 5px;
                    margin-top: -30px;
                }

                .top {
                    flex: 1;
                    gap: 8px;
                    display: flex;
                    padding: 20px;

                    @include large {
                        padding: 20px 20px 40px 20px;
                    }

                    @include tablet {
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                    }

                    @include mobile {
                        align-items: center;
                    }

                    @include phone {
                        align-items: center;
                        justify-content: center;
                        padding: 0px 20px;
                    }

                    h2 {
                        color: #282828;
                        font-size: 25px;
                    }

                    p {
                        font-size: 18px;
                        color: grey;
                    }

                    .profileImg {
                        top: 250px;
                        margin: auto;
                        width: 160px;
                        height: 160px;
                        border-radius: 50%;
                        object-fit: cover;
                        border: 3px solid white;
                        position: absolute;

                        @include tablet {
                            width: 160px;
                            height: 160px;
                            top: 180px;
                        }

                        @include mobile {
                            width: 130px;
                            height: 130px;
                        }

                        @include phone {
                            top: 150px;
                            width: 120px;
                            height: 120px;
                            align-self: center;
                        }

                    }
                    .profilePhotoEditIcon{
                        top: 370px;
                        left: 210px;
                        margin: auto;
                        width: 30px;
                        height: 30px;
                        padding: 3px;
                        border: none;
                        border-radius: 50%;
                        object-fit: cover;
                        cursor: pointer;
                        background-color: gray;
                        position: absolute;
                        @include tablet {
                            top: 300px;
                            left: 320px;
                        }

                        @include mobile {
                            left: 260px;
                            top: 280px;
                            width: 25px;
                            height: 25px; 
                        }

                        @include phone {
                            left: 225px;
                            top: 240px;
                        }
                    }

                    .topItem {
                        display: flex;
                        gap: 5px;
                        align-items: left;
                        color: #353935;
                        font-size: 15px;
                        margin-left: 230px;
                        margin-top: -20px;
                        flex-direction: column;

                        @include tablet {
                            margin-left: 0px;
                            margin-top: 75px;
                            margin-bottom: -20px;
                        }

                        @include mobile {
                            margin-top: 150px;
                            align-items: center;
                            justify-content: center;
                        }

                        @include phone {
                            margin-top: 65px;
                            align-items: center;
                            justify-content: center;
                        }

                        p {
                            gap: 10px;
                            display: flex;
                            align-items: center;

                            .groupIcon {
                                font-size: 25px;
                            }
                        }
                    }

                }

                .bottom {
                    flex: 1;
                    gap: 10px;
                    display: flex;
                    align-items: center;
                    margin-left: 270px;

                    .friendsBtn {
                        border: none;
                        color: white;
                        padding: 10px 15px;
                        border-radius: 3px;
                        cursor: pointer;
                        gap: 10px;
                        display: flex;
                        align-items: center;
                        background-color: #1877f2;

                        .friendIcon {
                            font-size: 20px;
                        }

                    }

                    .editBtn {
                        border: none;
                        color: white;
                        padding: 8px 15px;
                        border-radius: 3px;
                        cursor: pointer;
                        gap: 3px;
                        display: flex;
                        align-items: center;
                        background-color: #1877f2;
                    }

                }
            }
        }

        /////responsive rightbar
        .profileBottom {
            display: none;

            @include tablet {
                display: flex;
                padding: 15px 0px;
            }

            .rightbarContainer {
                gap: 15px;
                display: flex;
                width: 100%;
                flex-direction: column;

                h4 {
                    font-size: 19px;
                    color: #282828;
                    font-weight: 500;
                    margin-bottom: 10px;
                }

                hr {
                    margin: 15px 0px;
                    border: none;
                    height: 0.5px;
                    background-color: lightgrey;

                    @include phone {
                        margin: 15px 20px 15px 0px;
                    }
                }


                .rightbarCard {
                    gap: 15px;
                    padding: 10px;
                    display: flex;
                    flex-direction: column;
                    background-color: #FFFFFF;
                    border-radius: 10px;
                    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

                    @include phone {
                        display: flex;
                        padding: 10px;
                    }

                    .heading {
                        gap: 15px;
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        margin-top: 10px;
                        margin-bottom: 15px;

                        @include phone {
                            text-align: left;
                            justify-content: flex-start;
                        }

                        span {
                            font-size: 13px;
                            font-weight: 400;
                            text-align: center;
                            margin-top: -10px;
                            color: #1877f2;

                            @include phone {
                                align-self: flex-start;
                                font-size: 16px;
                            }
                        }

                        p {
                            font-size: 13px;
                            font-weight: 300;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-top: -10px;

                            @include phone {
                                justify-content: flex-start;
                                font-size: 12px;
                                padding-right: 70px;
                            }
                        }

                        .followBtns {

                            @include phone {
                                display: flex;
                                align-items: center;
                                align-self: flex-start;
                            }

                            .friendsBtn {
                                border: none;
                                color: white;
                                width: 100%;
                                padding: 10px;
                                border-radius: 3px;
                                cursor: pointer;
                                gap: 10px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background-color: rgba(24, 119, 242);

                                &:focus {
                                    outline: none;
                                }

                                .friendIcon {
                                    font-size: 20px;
                                }

                                @include phone {
                                    width: 160px;
                                }

                            }

                        }

                        .editBtn {
                            border: none;
                            width: 100%;
                            padding: 10px;
                            border-radius: 3px;
                            cursor: pointer;
                            gap: 10px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border: 0.4px solid lightgray;
                            background-color: #ebecf0;

                            &:focus {
                                outline: none;
                            }

                            @include phone {
                                width: 160px;
                                align-self: flex-start;
                            }
                        }
                    }

                    .items {
                        gap: 20px;
                        display: flex;
                        flex-direction: column;

                        .sidebarItem {
                            gap: 10px;
                            display: flex;
                            color: #282828;

                            span {
                                font-size: 14px;
                                font-weight: 300;

                                @include phone {
                                    font-size: 15px;
                                }
                            }

                            .details {
                                font-size: 14px;
                                font-weight: 500;

                                @include phone {
                                    font-size: 15px;
                                }
                            }

                        }

                        .sidebarIcon {
                            font-size: 22px;
                            color: gray;
                        }
                    }

                }

                .sidebarFriends {
                    gap: 15px;

                    .profileFriends {
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        grid-gap: 5px;
                        margin-top: 20px;


                        .friendItem {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-direction: column;
                            margin-bottom: 20px;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                border-radius: 5px;

                                @include phone {
                                    width: 100px;
                                }
                            }

                            span {
                                font-size: 12px;
                                font-weight: 300;
                                color: #282828;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                // @include large {
                                //     font-size: 9px;
                                // }
                            }
                        }
                    }


                }

            }


        }


    }

    
}